@model IEnumerable<MyBookList.Models.Authors>

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("Admin"))
{
    <p style="text-align:right; margin:2.5% 0;">
        <a asp-action="Create" style="text-decoration:none;">Adicionar Autor</a>
    </p>
}
<hr />

<table class="table">
    <div class="container" style="margin: 2.5%;">
        @if (Model.Any())
        {
            @for (int i = 0; i < Model.Count(); i += 4)
            {
                var authorsInRow = Model.Skip(i).Take(4);
                <div class="row g-4" style="margin: 2.5% 0">
                    @foreach (var author in authorsInRow)
                    {
                        <div class="col-md-3">
                            <a asp-action="Details" asp-route-id="@author.Id" style="color: white; text-decoration: none;">
                                <div class="card" style="background-color: #262a2b; min-height: 400px;">
                                    <div class="card-body">
                                        <h5 class="card-title">@author.Name</h5>
                                        <p class="card-text" style="max-height: 100px; min-height: 100px; text-overflow: ellipsis; font-size: 12px; overflow: hidden;">
                                            @author.Biography
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <p>Sem livros.</p>
        }
    </div>
</table>
