<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBookList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyBookList.styles.css" asp-append-version="true" />
</head>
<body style="background-color:#181a1b; color:white;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin: auto;">
      <div class="container">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 2.5em; color: white; margin: 0 auto; text-decoration: none;">
              MyBookList
            </a>
          </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsive-navbar-nav" aria-controls="responsive-navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="responsive-navbar-nav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a asp-area="" asp-controller="Books" asp-action="Index" style="font-size: 2em; color: #5eb0d6; margin: 0 0 0 25px; text-decoration: none;">Livros</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Authors" asp-action="Index" style="font-size: 2em; color: #5eb0d6; margin: 0 0 0 25px; text-decoration: none;">Autores</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Publishers" asp-action="Index" style="font-size: 2em; color: #5eb0d6; margin: 0 0 0 25px; text-decoration: none;">Editoras</a>
            </li>
          </ul>
        <partial name="_LoginPartial" />
        </div>
      </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MyBookList
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>