@model MyBookList.Models.Members

@{
    ViewData["Title"] = "Index";
}

@if(User.Identity.IsAuthenticated)
{
<h2>A minha Lista</h2>

<hr/>

<h5>A Ler</h5>
<table class="table" style="color:white;">
    <thead>
        <tr>
            <th>
                Livro
            </th>
            <th>
                Descrição
            </th>
        </tr>
    </thead>
    <tbody>

    @foreach (var book in Model.StatusList){
        <tr>
            <td>
                @book.Book.Title;
            </td>
            <td>
                @book.Book.Description;
            </td>
        </tr>
    }

    </tbody>
</table>
}
else{
    <meta http-equiv="refresh" content="0;url=@Url.Action("Index", "Home")" />
}