@model IEnumerable<MyBookList.Models.Members>

@{
    ViewData["Title"] = "Index";
}

@if(User.Identity.IsAuthenticated)
{
<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
        </tr>
}
    </tbody>
</table>
}
else{
    <meta http-equiv="refresh" content="0;url=@Url.Action("Index", "Home")" />
}