@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/><br/>
    <h1 class="display-4">MyBookList</h1>
    <p>Realizado por: <a href="https://github.com/rubenppp">Rúben Poupado (20966)</a> e <a href="https://github.com/RodMaia21897">Rodrigo Maia (21897)</a></p>
    <p>Projeto de Desenvolvimento Web 2022/2023</p>
    <p>Docente: José Casimiro Pereira</p>
</div>
