@model MyBookList.Models.Publishers

@{
    ViewData["Title"] = "Details";
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const showDeleteButton = document.getElementById('showDeleteButton');
        const hideDeleteButton = document.getElementById('hideDeleteButton');
        const deleteModal = document.getElementById('deleteModal');

        function showDeleteModal() {
            deleteModal.style.display = 'block';
        }

        function hideDeleteModal() {
            deleteModal.style.display = 'none';
        }

        showDeleteButton.addEventListener('click', showDeleteModal);
        hideDeleteButton.addEventListener('click', hideDeleteModal);
    });
</script>

<div class="d-flex justify-content-between" style="margin: 2.5% 5% 1%;">
    <div>
        <a type="button" style="width:100px; text-align:center;" class="btn btn-outline-primary btn-sm" asp-action="Index">Voltar</a>
    </div>
    <div>
        <a type="button" style="width:100px; text-align:center;" class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        <button id="showDeleteButton" style="width:100px; text-align:center;" class="btn btn-outline-primary btn-sm">Apagar</button>
    </div>
</div>

<hr />

<div style="color: white;">
    <div class="row" style="margin: 2.5%;">
        <div class="col-xs-6 col-md-4">
            <div class="card" style="background-color: #262a2b;">
                <!--<img class="card-img-top" src="testImage" alt="Card image" />-->
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-8">
            <div class="card" style="height: 100%; background-color: #262a2b;">
                <div class="card-body">
                    <h5 class="card-title">Descrição</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:#181a1b;">
            <div class="modal-body">
                <div class="mb-3" id="exampleForm.ControlInput1">
                    <label>Tem a certeza que quer apagar esta editora?</label>
                    <div class="modal-footer">
                        <button id="hideDeleteButton" class="btn btn-secondary">Não</button>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Sim" class="btn btn-danger" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>